.coverage
*.pyc
/Pycco.egg-info
build/*
dist/*
docs/*
/tags
env/
.cache
.hypothesis
.ropeproject
.idea
.DS_Store
.bzr
.bzrignore
.tox
h.txt
tests_pytest/
PKG-INFO
_build/
faf.py
fontitest.py
setup.cfg
